// Projects Section Start
section.projects(data-aos="fade-up")
  .container
    .heading
      .header__block
        p.heading__subtitle(data-aos="fade-up" data-aos-delay="100")
          | Портфолио
        h2.heading__title(data-aos="fade-up" data-aos-delay="300")
          | Наши работы
      .heading__other.for-desktop.is-hidden
        a(href="#").btn.btn__primary.projects__btn
          | Посмотреть все
    .projects__row
      .projects__col.projects__col-5
        - for(var i = 0; i < 2; i++) {
          a.project-card.js-project(
            href="javascript:void(0);"
            data-image=`${baseDir}images/content/projects/project-${i+1}.jpg`
            data-title="Название проекта"
            data-subtitle="Lorem ipsum dolor sit amet consectetur. Eget at dictum feugiat amet semper tristique at suspendisse. Sagittis."
            data-link="https://test.com"
            data-aos="fade-up" data-aos-delay=`${i+1*2}00`
          )
            .project-card__picture
              +lazyImage({
                src: `${baseDir}images/content/projects/project-${i+1}.jpg`,
                alt: '',
                appear: false,
              }).project-card__image
            h4.project-card__title
              | Название проекта
            p.project-card__subtitle
              | Lorem ipsum dolor sit amet consectetur. Eget at dictum feugiat amet semper tristique at suspendisse. Sagittis.
        - }
      .projects__col.projects__col-7
        - for(var i = 2; i < 4; i++) {
          a.project-card.js-project(
            href="javascript:void(0);"
            data-image=`${baseDir}images/content/projects/project-${i+1}.jpg`
            data-title="Название проекта"
            data-subtitle="Lorem ipsum dolor sit amet consectetur. Eget at dictum feugiat amet semper tristique at suspendisse. Sagittis."
            data-link="https://test.com"
            data-aos="fade-up" data-aos-delay=`${i+1*2}00`
          )
            .project-card__picture
              +lazyImage({
                src: `${baseDir}images/content/projects/project-${i+1}.jpg`,
                alt: '',
                appear: false,
              }).project-card__image
            h4.project-card__title
              | Название проекта
            p.project-card__subtitle
              | Lorem ipsum dolor sit amet consectetur. Eget at dictum feugiat amet semper tristique at suspendisse. Sagittis.
        - }
    .for-mobile.mt-20
      a(href="#" data-aos="fade-up").btn.btn__primary.projects__btn.is-hidden
        | Посмотреть все
// Projects Section End